$cityFont: 'Big Shoulders Text', cursive;
$secondaryFont: 'PT Sans Narrow', sans-serif;
$errFont: 'Lobster', cursive;

* {
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.container {
    width: 60%;
    margin: auto;
    margin-top: 5%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.input-form {
    padding: 35px;
    display: flex;
}

.input-text {
    flex: 2;
}

.data {
    display: flex;
    padding-bottom: 35px;

    p {
        font-family: $secondaryFont;
    }

    .city-degr-part {
        width: 50%;
        display: flex;
        flex-direction: column;

        .city-name {
            padding-left: 35px;
            font-size: 4vw;
        }

        .degr {
            align-self: flex-end;
            font-size: 7vw;
        }

        p {
            font-family: $cityFont;
        }
    }
    
    .secondary-qw {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 35px;
    }

    .secondary-ans {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        padding-right: 35px;
    }

    .err {
        display: flex;
        justify-self: center;
        align-self: center;
        margin: auto;
        font-size: 3vw;

        p {
            font-family: $errFont;
        }
    }
}

@media (max-width: 900px) {
    .container {
        width: 70%;
    }
}